body{
    text-align: center;
    
}

header{
    background-image:url("Seattle-Greys-Anatomy.jpeg") ;
    background-position: center;
    background-size:cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
main{
    background-image:url("Seattle-Greys-Anatomy.jpeg");
    display:flex;
    justify-content: center;
    
}
#cardArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: azure;
    width: 90%;
      
}

.card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid blue;
    margin: 5%;
    
}
.picture{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 95%;
    padding: 2.5%
   
} 

img{
    border-radius: 5px ;
    
}
 
.container{
    display: flex;
    width: 100%;
   justify-content: space-around;
   
}



 