body{
    text-align: center;
    
}

header{
    background-image:url("Seattle-Greys-Anatomy.jpeg") ;
    background-position: center;
    background-size:cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
main{
    background-image:url("Seattle-Greys-Anatomy.jpeg");
    display:flex;
    justify-content: center;
    
}
#cardArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: azure;
    width: 90%;
      
}

.card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid blue;
    margin: 5%;
    
}
.picture{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
    width: 90%;
    margin: auto;
    
   
} 

img{
    border-radius: 5px ;
    
}
 
.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    margin: 1rem;
   
}
.bio{
    display: flex;
    width: 100%;
    justify-items: center;
    align-content: center;
    margin: 1rem;
}
button{
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

}

 