h1{
    color: blue;
}
#cardArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.card {
    /* Add shadows to create the "card" effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid blue;
    margin: 5%;
    
  }
  
img{
    border-radius: 5px ;
    
}
 
.container{
    justify-content: space-around;
   
  }
  /* Add some padding inside the card container */
 